/* shared style */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
i{
    /* font-size: 1.5rem; */
    margin-left: 10px;
}
.fa-youtube{
    color: #F61C0D;
}
/* header styles */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

}
.logo{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;

}
nav>h3>span{
    color: #FF42A5;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 25px;
}
nav> ul li > a{
    text-decoration: none;
    color: #3C354F;
}
.nav-icon{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
/* goat section styles */
.goat{
    margin: 0 50px 100px;
}
.goat-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
}
.goat-content, .goat-image{
    width: 50%;
}
.goat-content{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.goat-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.goat-heading{
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
    color: #a55eea;
    margin-top: 0;
    margin-bottom: 0;
}
.goat-description{
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
text-transform: lowercase;
margin-top: 0;
margin-bottom: 15px;
}
.goat-image img{
    width: 100%;
}
.button-primary{
    border: 0;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    padding: 15px 30px;
    background-color: #F948B2;
    margin-right: 10px;
}
.button-secondary{
    border: 0;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 48px;
    background-color: #4EC5F7;
}
/* online-games section styles */
.online-games{
    margin-top: 100px;
    background-color: #FFF;
}
.section-title span{
    color: #a55eea;
}
.section-title{
    text-align: center;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}
.card-title{
    text-align: center;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0;
}
.card-container{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}
.card-container div{
    width: 20%;
}
.card-container img{
    width: 100%;
}
.card{
    border-radius: 15px;
}
.card-info{
    color: #534C64;
    font-size: .75rem;
    font-weight: 500;
}
/* instant section styles */
.instant{
    margin: 100px 65px 0;
}
.instant-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.instant-container div{
    width: 50%;
}
.instant-container img{
    width: 100%;
}
.instant-content{
    text-align: right;
}
.instant-title{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}
.instant-title span{
    color: #F948B2 ;
}
.instant-description{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;

}
.pinky{
    position: relative;
    width: 200px;
    bottom: 150px;
    right: 80px;
}
/* i failed to fixed last section many time */
  /* i fixed the problem ,but in responsiveness i have problem yet in grid */
.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
.hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.1s, border 0.1s;

}
.hover img {
    margin-bottom: 10px;
    margin-right: 10px;
}
.hover:hover {
    color: #ff42a5;
    border: 2px solid #ff42a5;
}

/* footer styles */
footer{
    background-color: #0B0223;
}
.first-letter{
    color: #FF42A5;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.rest-letter{
    color: #FFF;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.first-list{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
}
.second-list{
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer h3{
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
footer i{
    color: #FFF;
    font-size: 2rem;
}
footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 100px;
}
footer button{
    background-color: #0B0223;
    border: none;
    padding: 0;
}
footer button:hover{
    cursor: pointer;
}
.apple{
    text-align: center;
}
/* responsive in mobile device */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        margin: 0 30px;
    }
    nav>ul{
        flex-direction: column;
        align-items: center;
    }
    .goat-container{
        flex-direction: column-reverse;
    }
    .goat-content, .goat-image{
        width: 100%;
    }
    .goat-title{
        font-size: 2rem;
    }
    .goat-heading{
        font-size: 4rem;
    }
    .card-container{
        flex-direction: column;
    }
    .card-container div{
        width: 100%;
        margin-bottom: 30px;
    }
    .section-title{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    .card-title{
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .instant-container{
        flex-direction: column;
    }
    .instant-container div{
        width: 100%;
    }
    .instant-container img{
        width: 100%;
    }
    .instant-content{
        text-align: center;
    }
    .pinky img{
        position: relative;
        width: 100px;
        top: 80px;
        left: 30px;
    }
    .icon-container{
        flex-direction: row;
    }
    .hover:hover{
            color: #ff42a5;
            border: 2px solid #ff42a5;
        }
        .first-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        }  
        .second-list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }      
    }